<div class="container">

    <input ng-model="test"></input>
    {{test}}

    <div class="container">
        <h1>Movie list</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lan in langlist">
                <td>{{lan.name}}</td>
                <td>{{lan.symbol}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
